<html>
<!--Simple text to display on the page--> 
<body><h3>
Developed by Darragh Breathnach.</br>
Web Application Frameworks Project.</br>
Postgraduate Diploma in Cloud Computing.</br>
</h3><hr width = "35%" align = "left">

<table border = 1 cellpadding = 20>
<tr>
<td><h3>Instructions:</h3>
<p>1. Enter owner details.</p>
<p>2. Create new development or if it already exists, skip to 3.</p>
<p>3. Create unit, insert address and assign owner</p>
</td>
</tr>


</table>
</body>
</html>
